#header{
    background-color: rgb(34, 94, 214);
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 0;
    
    padding: 10px;
  
   
    width: 100%;
}   